@media screen and (max-width: 768px) {
	.basic_info{
		margin-top: 25%;
		height: 100vh;
	}
	.img_size{
		width: 45%;
		height: 45%;
	}

	.name{
		margin-top: 3%;
		font-size: 36px;
		text-align: center;
		color: #fff;
	}
	.nick_name{
		font-size: 10px;
		text-align: center;
		color: #fff;
	}
	.education{
		margin-top: 2%;
		font-size: 16px;
		text-align: center;
		color: #fff;
	}
	.experiences{
		margin-top: 20%;
	}
	.exp_icon{
		font-size: 35px;
	}
	.exp_info{
		width: 90%;
		word-wrap: break-word;
		padding: 2%;
		border-radius: 0.5em;
		margin: auto;
		margin-top: 2%;
		text-align: center;
		font-size: 18px;
		background-color: rgb(232, 77, 91);
		color: rgb(255, 254, 240);
	}
	.br_line{
		display: block;
	}
	.drop_icon{
		font-size: 6px;
	}
	.drop_info{
		display: none;
		border-radius: 0 0 0.3em 0.3em;
		width: 80%;
		padding: 3%;
		margin: auto;
		word-wrap: break-word;
		background-color: #FFFCEC;
	}
	.prize_info{
		width: 90%;
		word-wrap: break-word;
		padding: 2%;
		border-radius: 0.5em;
		margin: auto;
		margin-top: 2%;
		text-align: center;
		font-size: 18px;
		background-color: rgb(232, 77, 91);
		color: rgb(255, 254, 240);
	}
	.prizes{
		font-size: 14px;
	}
	.social_icon{
		margin-top: 20%;
		text-align: center;
	}
	.git_icon{
		margin-top: 5%;
	}
	.social_icon_size{
		width:60%;
		height:60%;
	}
	.social_icon a{
		margin: 4%;
		transition: 0.4;
		position: relative;
		top:0;
	}
	.social_icon a:hover{
		top:-20px;
	}
}